.container {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  padding: 40px;
}

.userList {
  display: flex;
  flex-direction: column;
}

.languageSelector {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.tags {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.tag {
  background-color: #42A5F5;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}